<template>
    <nav 
        class="navbar has-background-primary"
        role="navigation"
        aria-label="main navigation">
        
        <div class="navbar-brand px-4">
            <a 
                class="navbar-item" 
                href="https://bulma.io">
                <img 
                    alt="Vue logo" 
                    src="../assets/logo.png">
            </a>
            
            <a 
                role="button" 
                class="navbar-burger" 
                :class="is_active"
                aria-label="menu" 
                :aria-expanded="hamburger_menu" 
                @click="hamburgerMenuClicked"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
            
        <div 
            id="navbarBasicExample" 
            class="navbar-menu px-4 has-background-primary"
            :class="is_active">
            <div class="navbar-end">
                <a class="navbar-item">
                    Home
                </a>
                
                <a class="navbar-item">
                    Documentation
                </a>
            </div>
        </div>
    </nav>
</template>

<script>
export default{
    
    data(){
        return{
            hamburger_menu : false,
            is_active: ''
        }
    },
    methods: {
        hamburgerMenuClicked(){
            this.hamburger_menu = !this.hamburger_menu
            if(this.hamburger_menu){
                this.is_active = 'is-active'
            }
            else{
                this.is_active = ''
            }
        }
    }
    
}
</script>

<style>
</style>
