@charset "utf-8";

// Import a Google Font
@import url('https://fontlibrary.org//face/gidole-regular');

// Set your brand colors
$purple: #8A4D76;
$purple-invert: #fff;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;


// Update Bulma's global variables
$family-sans-serif: "GidolinyaRegular", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$primary-invert: $grey-light;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
//navbar
$navbar-item-color: $grey-light;
$navbar-item-hover-background-color: $grey-light;
$navbar-item-hover-color: $purple;

@import "~bulma";

/*html{
    margin:0;
    padding:0;
    width:100%;
    overflow-y:hidden;
    
    body{
        .navbar-item{
            color: $light;
            &:hover{
                background-color: $grey-light;
                color: $dark;
            }
        }
        
        .navbar-burger{
            color: $light;
        }
    }
}*/
html{
    margin:0;
    padding:0;
    width:100%;
    overflow-y:hidden;
}

/*@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";*/

