<template>
    <div class="m-0">
        <HeaderComponent msg="Yo"/>
	</div>
</template>

<script>
import HeaderComponent from './components/HeaderComponent.vue'

export default {
	name: 'App',
	
	components: {
		HeaderComponent
	}
}
</script>

<style lang="scss">

</style>
